 
.card {
  padding: 0rem;

  border: 1px solid #ccc;
  border-radius: .4rem;
  margin-bottom: 1rem;
  overflow: hidden;

  &.is-loading {
    img {
      visibility: hidden;
    }
  }

  

  ul {
    padding-right: 1.5rem;
  }
}


@media only screen and (min-width: 600px) {
  .card {
    display: flex;
    align-items: center;

    div {
      max-width: 300px;
      min-width: 300px;
    } 
  }
}